html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.owl-stage {
  margin: 20px 1px;
}

.button-link {
  padding: 0;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}

canvas {
  width: 100%;
  height: 100%
}

.ant-input {
  background: #FAFAFA;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  width: 50% !important;
}

.ant-progress-inner {
  border-radius: 0 !important;
}

.ant-progress-success-bg, .ant-progress-bg {
  border-radius: 0 !important;
}
.slick-list,
.slick-track {
  height: calc(100vh - 12px) !important;
}

.slick-vertical .slick-slide {
  height: inherit;
}
.slick-vertical .slick-slide > div:nth-of-type(1) {
  height: 100%;
}

